:root {
  --primary: #6D31EE;
  --second-color: #666666;
  --primary_shade: #4F28A5;
  --primary_ligth: #AA9DFA;
  --text_gray: #A1A6B4;
  --white: #FFFFFF;
  --shade_gray: #D2D5DD;
  --lite_color: #E6E8EC;
  --ligth_color_40: rgba(230, 232, 236, 0.4);
  --black: #121723;
  --ligth_black: #292E39;
  --red: #FF6F6F;
  --promo_color: #F0D288;
  --promo_color_shade: #BB973E;
}


@media (max-width: 1366px) {
  .content {
    width: 824px;
  }

  .header__top__logo {
    display: none;
  }

  .header__top {
    height: 80px;
    padding-top: 20px;
  }

  .header__top__link:first-child {
    padding-left: 0;
  }

  .header__top__mobile {
    height: 60px;
    background-color: #f2f2f2;
  }

  .header__top__list {
    width: 640px;
    margin-right: 30px;
  }

  .header__top__btn-searth svg {
    width: 26px;
    height: 26px;
    padding-top: 2px;
  }

  .form {
    width: 380px;
    padding: 15px 10px 15px 12px;
  }

  .header-logo {
    display: block;
    padding: 23px 0;
  }

  .header-logo svg {
    width: 112px;
    height: 14px;
  }

  .header-content {
    height: 60px;
  }

  .header__bottom {
    justify-content: baseline;
  }

  .header__bottom__list {
    width: 492px;
    margin-right: 10px;
  }

  .header__bottom {
    justify-content: space-between;
    padding: 0;
  }

  .header__block__item {
    padding-left: 15px;
    padding-right: 9px;
  }

  .header__bottom__block {
    margin-right: 10px;
  }

  .header__block__item:last-child {
    margin-right: 5px;
    border-right: 1px solid var(--lite_color);
    padding-left: 16px;
  }

  .header__block__item:last-child .header__block__content {
    padding-left: 0;
  }

  .header__block__item:last-child .header__block__text-top {
    padding-left: 10px;
  }

  .header__bottom__info {
    display: none;
  }

  .header__bottom__block {
    width: 305px;
    margin-right: 0;
  }

  .header__form__input {
    margin-right: auto;
  }

  .hero {
    padding-top: 96px;
    padding-bottom: 90px;
  }

  .hero__title {
    padding-left: 2px;
    margin-bottom: 9px;
  }

  .hero__descr {
    max-width: 540px;
    margin-bottom: 20px;
  }

  .hero__content:before {
    top: -15px;
    background-image: url('../img/microphone-tablet.png');

    width: 259px;
    height: 270px;
  }

  .podcasts {
    padding-top: 94px;
  }

  .broadcast {
    padding-top: 92px;
  }

  .broadcast__item {
    width: calc((100% - 30px)/2);
  }

  .broadcast__item__content {
    padding: 163px 15px 18px 14px;
}

  .quests__descr {
    width: 66%;
  }

  .quests__accordion__list-btn {
    margin-right: 8px;
  }

  .quests__accordion-info__list:before {
    width: 255px;
    height: 159px;
  }

  .quests__accordion-info__list {
    padding-top: 169px;
  }

  .quests__photo {
    width: 30%;
    height: 159px;
  }

  .quests__accordion__item-two {
    width: calc(100%/3);
    margin-right: 0;
  }



  .quests__accordion__item-two:nth-child(4n) {
    order: 1;
  }

  .quests__accordion-info {
    width: 255px;
  }

  .ui-accordion .ui-accordion-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  .quests__accordion__descr {
    margin-bottom: 41px;
  }

  .playlists {
    padding-bottom: 94px;
  }


  .playlists__block {
    flex-direction: column;
  }

  .playlists__block__left {
    width: 100%;
  }

  .playlists__block__link:after {
    width: 112px;
    height: 112px;
  }

  .playlists__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 64%;
    height: 178px;
    margin-bottom: 0;
  }

  .playlists__block__rigth {
    padding-bottom: 100px;
  }

  .playlists__item {
    margin-right: 30px;
  }

  .playlists__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 25.5px;
  }

  .playlists__item:nth-child(4n) {
    margin-bottom: 0;
  }

  .playlists__block {
    position: relative;
  }

  .playlists__block__list {
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 18px;
    border-bottom: 1px solid var(--shade_gray);
  }

  .playlists__block__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 50px;
  }

  .playlists__block__content:before {
    width: 112px;
    height: 112px;
  }

  .playlists__block__item {
    position: relative;
    width: 255px;

    padding-left: 112px;
    padding-top: 0;
  }

  .playlists__block__item {
    margin-right: 0;
  }

  .playlists__block__info:after {
    left: 0;
  }


  .playlists__block__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 112px;
    padding-top: 39px;
    padding-left: 9px;
    padding-right: 0;
  }

  .playlists__block__content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 20px;

    background-size: contain;
  }

  .adv {
    padding-bottom: 94px;
  }

  .adv__block__content {
    width: 48.4%;
  }


  .adv__block__content:before {
    top: 19.5%;
    left: 0;
    width: 397px;
  }

  .adv__image:before {
    width: 396px;

    background-image: url("../img/adv-svg-tablet.svg");
  }

  .adv__block__content:after {
    top: 18.7%;
    left: 0;
    width: 100px;
  }

  .adv__descr {
    width: 390px;
    padding-top: 30px;
    line-height: 185%;
  }

  .adv__descr-2 {
    width: 395px;
    padding-top: 10px;
    line-height: 180%;
  }

  .about {
    padding-top: 95px;
  }

  .about__descr {
    width: 65.5%;
  }

  .about__description {
    width: 65.5%;
  }

  .about__block:before {
    top: 4.1%;
  }

  .about__block:after {
    display: none;
  }

  .about__list {
    justify-content: space-between;
  }

  .swiper-button-next {
    top: 44.2%;
    right: -65px;
  }

  .swiper-button-prev {
    top: 44.2%;
    right: -65px;
  }

  .about__container {
    margin-bottom: 21px;
  }

  .about__item {
    width: 397px;
    margin-right: 0;
  }

  .about__item__info:before {
    width: 100%;
  }

  .about__form__input .input-1 {
    width: 824px;
    padding-bottom: 78px;
  }

  .about__form-input {
    width: 397px;
  }

  .about__form__input:nth-child(3) {
    margin-right: 0;
  }

  .about__form__block {
    margin-right: 0;
  }

  .form-check {
    display: block;
    width: 800px;
  }

  .footer__block {
    align-items: flex-start;
  }

  .footer__container__rigth {
    margin: 0 auto;
  }

  .footer__rigth {
    width: 824px;
  }

  .footer:before {
    left: -20px;
  }
}


/*----------------------------------------------------------------------------------------*/
/*                                            992                                         */
/*----------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
  .content {
    width: 540px;
  }

  .header__top {
    display: flex;
    justify-content: space-between;
  }

  .header__block-nav {
    display: none;
  }

  .header__top__nav {
    display: flex;
    flex-direction: column;
  }

  .header__block-nav {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 174px;
    z-index: 6;

    display: block;
    padding-top: 100px;
    margin: 0 auto;

    background-color: #D2D5DD;
    color: var(--black);
    visibility: hidden;

    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .header__nav:before {
    content: "";
    position: absolute;
    bottom: -52px;
    left: 52%;

    width: 113px;
    height: 364px;

    background-image: url("../img/spiral__header.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header__nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: 72%;

    width: 113px;
    height: 364px;

    background-image: url("../img/spiral__header.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .active {
    z-index: 7;

    display: flex;
    justify-content: center;

    transform: translateX(0);
    visibility: visible;
  }

  .header__nav {
    align-items: flex-start;
    width: 540px;
  }

  .header__top__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    width: 240px;
    height: 160px;
  }

  .header__top__item {
    margin-bottom: 0;
    padding: 15px 0;
  }

  .form {
    width: 300px;
  }

  .header__menu svg rect {
    transition: transform .3s ease-in-out;
  }

  .header__menu {
    z-index: 1000;

    display: block;
    padding-top: 3px;
    transition: transform .3s ease-in-out;
  }

  .menu svg rect {
    transition: transform .3s ease-in-out;
  }


  .menu svg rect:nth-child(1) {
    transform: translateX(2px) translateY(1px) rotate(45deg)
  }

  .menu svg rect:nth-child(2) {
    display: none;
  }

  .menu svg rect:nth-child(3) {
    transform: translateX(-8px) translateY(10px) rotate(-45deg);
  }

  .header__bottom {
    align-items: center;
  }

  .header__bottom__block {
    display: none;
  }

  .header__bottom__list {
    width: 498px;
    padding: 22px 0;
  }

  .header__bottom__play {
    display: block;
  }

  .play-active {
    transition: opacity .3s ease-in-out;
  }

  .header__bottom__play {
    width: 22px;
    height: 22px;

    transition: background-image .3s ease-in-out;
    background-image: url('../img/play.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .play-active {
    background-image: url('../img/pause.svg');
    background-repeat: no-repeat;
    background-size: contain;

    transition: background-image .3s ease-in-out;
  }

  .hero__content:before {
    display: none;
  }

  .hero__content {
    width: 100%;
  }

  .podcasts__item {
    width: 100%;
  }
  .podcasts__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .broadcast {
    padding-bottom: 30px;
  }

  .broadcast__block {
    display: block;
  }

  .broadcast__item {
    width: calc((100% - 30px)/2);
  }

  .broadcast__bottom {
    display: none;
  }

  .broadcast__choices:before {
    display: none;
  }

  .broadcast__content {
    height: 100px;
    min-height: 0;
  }

  .broadcast__list {
    padding-top: 13px;
    margin-bottom: 30px;
  }

  .broadcast__bottom__two {
    border-top: 1px solid var(--lite_color);
  }

  .broadcast__bottom-2 {
    position: relative;

    display: flex;
    flex-direction: column;

    padding-top: 29px;
  }

  .broadcast__btn {
    position: relative;
    padding: 5px 42px;
  }

  .broadcast__btn {
    display: flex;

    margin: 0 auto;
    margin-bottom: 10px;
  }

  .broadcast__bottom-2:before {
    content: "";
    position: absolute;
    left: 18%;

    width: 70px;
    height: 96px;

    background-image: url("../img/mic.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .broadcast__descr {
    width: 255px;
    margin-left: 35%;
  }

  .quests__container {
    flex-direction: column;
  }

  .quests__title {
    margin-bottom: 13px;
  }

  .quests__accordion {
    position: relative;
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .quests__accordion-info__list:before {
    width: 540px;
    height: 220px;

    background-image: url("../img/quests/quests__1.png");
  }

  .quests__accordion__list-btn {
    margin-right: 5px;
  }

  .quests__accordion__item-two {
    margin-bottom: 26px;
  }


  .ui-accordion .ui-accordion-content {
    padding-bottom: 0;
  }

  .quests__accordion-info__list {
    padding-top: 232px;
  }

  .quests__accordion__descr {
    width: 398px;
    margin-bottom: 40px;
  }

  .quests-add-padding {
    padding-bottom: 385px;
  }

  .quests__photo {
    width: 540px;
    height: 220px;
  }

  .quests__accordion-info {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 106.5%;

    width: 540px;
  }

  .quests__descr {
    width: 100%;
  }

  .playlists {
    padding-top: 95px;
  }

  .playlists__title {
    margin-bottom: 11px;
  }

  .playlists__block__left {
    width: 100%;
    margin-right: 0;
  }


  .playlists__block__content:after {
    left: 0;
  }

  .playlists__list {
    width: 98%;
    height: 252px;
  }

  .playlists__item {
    margin-bottom: 40px;
  }

  .playlists__block__list {
    padding-top: 0;
    margin-bottom: 40px;
  }

  .playlists__block__item {
    width: calc((100% - 30px)/2);
  }

  .adv__block__content:before {
    top: -40px;
    left: 0;
    right: 0;

    width: 100%;
  }

  .adv__block__content:after {
    right: 0;
    top: -40px;

    width: 160px;
  }

  .adv__title {
    width: 80%;
  }

  .adv__block__content {
    width: 100%;
    padding-top: 485px;
  }

  .adv__image:before {
    width: 100%;
    background-image: url("../img/adv-svg-3.svg");
  }

  .adv__descr {
    width: 99%;
  }

  .adv__descr-2 {
    width: 94%;
  }

  .adv__svg {
    width: 539%;
  }

  .about__descr {
    width: 100%;
  }

  .about__description {
    width: 100%;
  }

  .about__list {
    position: relative;
    padding-top: 150px;
  }

  .about__item {
    width: 255px;
  }

  .about__block:before {
    top: 26.9%;
    bottom: 0;
    right: 0;

    width: 112px;
    height: 112px;

    background-position: center;
    border-radius: 100%;
  }

  .about__block:after {
    content: "";
    position: absolute;
    top: 26.9%;
    right: 115px;

    display: block;
    width: 100%;
    height: 112px;

    background-image: url('../img/spiral-two.svg');
    box-sizing: content-box;
    background-repeat: no-repeat;
  }

  .about__form__input .input-1 {
    width: 540px;
  }

  .about__form-input {
    width: 540px;
  }

  .swiper-button-next {
    top: 46%;
  }

  .swiper-button-prev {
    top: 46%;
    left: -65px;
  }

  .about__container {
    margin-bottom: 15px;
  }

  .footer__block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 67px;
  }

  .footer:before {
    left: 0;
    right: 0;
    background-image: url("../img/footer-svg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 73px;
  }

  .footer__left__link svg {
    width: 30px;
    height: 24px;
  }

  .footer__left__list {
    padding-top: 23px;
  }

  .footer__left__item {
    margin-right: 23px;
  }

  .footer__left__item:first-child svg {
    height: 24px;
  }

  .footer__left__item svg {
    width: 35px;
    height: 35px;
  }

  .footer__left__item:last-child {
    margin-right: 0;
  }

  .footer__rigth__list {
    width: 100%;
  }

  .footer__rigth__item {
    width: calc((100% - 315px) /3);
    margin-bottom: 28.5px;
  }

  .footer__rigth__item:not(:nth-child(3n)) {
    margin-right: 157px;
  }

  .form-check {
    width: 100%;
  }

  .footer__container__rigth {
    margin: 0 auto;
  }

  .footer__rigth {
    width: 540px;
  }

  .footer__rigth__nav {
    width: 540px;
}
}

@media (max-width: 576px) {
  .content {
    width: 256px;
  }

  .container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .header__top__mobile {
    max-height: 54px;
  }

  .header__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .header-logo {
    padding: 0;
  }

  .header-logo svg {
    width: 87px;
    height: 15px;
  }

  .header__top {
    max-height: 50px;
  }

  .header__top__btn {
    display: none;
  }

  .header__top__list {
    width: 256px;
  }

  .header__block-nav {
    bottom: 50%;
    padding-top: 75px;
  }

  .header__nav {
    width: 256px;
  }

  .header__nav:before {
    display: none;
  }

  .header__nav:after {
    display: none;
  }

  .header__top__btn-two {
    display: flex;
    align-items: center;
    padding: 7px 23px;

    font-size: 16px;
    font-weight: 500;

    border: 1px solid var(--black);
    border-radius: 20px;
  }

  .header__top__buttons {
    display: block;
    width: 24px;
  }

  .header__top__list {
    height: 50%px;
  }


  .header__bottom__tablet {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    display: block;
    padding-top: 50px;

    background-color: #FFFFFF;
    color: var(--black);

    visibility: hidden;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .header-content,
  .header__bottom {
    max-height: 45px;
  }

  .header__block-nav {
    bottom: 190px;
  }

  .active-2 {
    z-index: 4;

    display: flex;
    justify-content: center;

    transform: translateX(0);
    visibility: visible;
  }

  .header__bottom__block-list {
    width: 256px;
  }

  .play--color {
    background-color: var(--lite_color);
  }

  .header__mobile {
    transition: transform .3s ease-in-out;
  }

  .header__mobile {
    transform: rotate(0);
  }

  .header--transform {
    transform: rotate(45deg);
  }

  .form {
    top: 12px;
    right: 0;

    width: 200px;
    padding: 5px;

    border-radius: 10px;
  }

  .header__form__btn {
    margin-right: 5px;
  }

  .header__form__input {
    width: 250px;
    padding: 5px;
    margin: 0;
    margin-right: 5px;

    font-size: 9px;

    border-radius: 0;
    border-bottom: 1px solid #DCDCDC;
  }

  .header__bottom__mobile {
    max-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .header__bottom__item {
    padding-bottom: 30px;
  }

  .header__bottom__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    height: 200px;
    width: 256px;
  }

  .header__bottom {
    display: flex;
    flex-direction: column;
  }

  .header__bottom__block {
    content: "";
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 3;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 256px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;

    background-color: #FFFFFF;
    color: var(--black);

    visibility: hidden;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .header__block-nav {
    top: 50px;
  }

  .header__block__text-top {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 9px;
  }

  .header__block__item:last-child .header__block__text-top {
    padding-left: 0;
  }

  .header__block__text-bottom {
    padding-right: 0;
    font-size: 14px;
  }

  .header__block__item:last-child {
    padding-right: 0;
    border: none;
  }

  .header__block__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 108px;
    padding: 0;
    margin: 0;
    padding-right: 30px;
    border: none;
  }

  .header__block__content {
    padding: 0;
  }

  .header__bottom__play {
    display: none;
  }

  .header__block__item:first-child {
    border: none;
    border-right: 1px solid var(--lite_color);
  }

  .play--active {
    z-index: 4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transform: translateX(0);
    visibility: visible;
  }

  .header__bottom {
    justify-content: center;
    padding: 0;
  }


  .header__mobile__btn {
    display: flex;
    align-items: center;
  }

  .header__mobile {
    width: 15px;
    height: 15px;
    padding: 0;
  }

  .header__mobile__descr {
    padding-left: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--primary);
  }

  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__title svg {
    width: 241px;
    height: 30px;
  }

  .hero__title {
    margin-bottom: 0;
  }

  .hero__title-info {
    font-size: 32px;
  }

  .hero__descr {
    width: 99%;
    font-size: 14px;
  }

  .hero__btn {
    padding: 16px 45px;
    font-size: 16px;
  }

  .podcasts {
    padding-bottom: 70px;
  }

  .podcasts__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 256px;
    height: 72px;
  }

  .photo-1:before {
    background-image: url("../img/podcasts/podcasts-moby-1.png");
  }

  .photo-2:before {
    background-image: url("../img/podcasts/podcasts-moby-2.png");
  }

  .photo-3:before {
    background-image: url("../img/podcasts/podcasts-moby-3.png");
  }

  .photo-4:before {
    background-image: url("../img/podcasts/podcasts-moby-4.png");
  }

  .photo-5:before {
    background-image: url("../img/podcasts/podcasts-moby-1.png");
  }

  .photo-6:before {
    background-image: url("../img/podcasts/podcasts-moby-2.png");
  }

  .photo-7:before {
    background-image: url("../img/podcasts/podcasts-moby-3.png");
  }

  .photo-8:before {
    background-image: url("../img/podcasts/podcasts-moby-4.png");
  }

  .podcasts__title {
    margin-bottom: 15px;
    font-size: 24px;
  }

  .podcasts__block {
    padding-left: 0;
    padding-top: 72px;
  }


  .podcasts__block__title {
    font-size: 16px;
  }

  .podcasts__block__name {
    font-size: 12px;
  }

  .podcasts__block__list {
    align-items: flex-start;
    padding: 3px 30px 5px 28px;
  }

  .podcasts__block__item-bottom:first-child {
    padding: 5px;
  }

  .podcasts__item {
    max-height:100vh;
  }

  .podcasts__item:nth-child(n + 5) {
    max-height: 0;
    margin-bottom: 0;

    transition: 0.5s ease;
    transition: display .6s ease-in-out;
    overflow: hidden;
    visibility: hidden;
  }

  .podcasts__block__item {
    padding-top: 15px;
    padding-right: 16px;
    padding-left: 15px;
    border-bottom: 1px solid var(--lite_color);
  }

  .podcasts__item.podcasts__item__visible {
    margin-bottom: 30px;
    max-height:100vh;
    transition: 0.5s ease;
    visibility: visible;
  }

  .podcasts__block__time {
    margin-bottom: 7px;
  }

  .podcasts__block__title {
    margin-bottom: 2px;
  }

  .podcasts__btn-play {
    width: 35px;
    height: 35px;
    margin-bottom: 16px;
  }

  .podcasts__block__name {
    margin-bottom: 15px;
  }

  .podcasts-button-top {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
  }

  .podcasts-button-bottom {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
  }

  .podcasts__item {
    max-height: 185px;
    margin-bottom: 30px;
  }

  .podcasts__block__item-bottom {
    display: flex;
    align-items: flex-start;
    margin-right: 22px;
    padding: 5px;
  }

  .podcasts__block__item-bottom:last-child {
    margin-right: 0;
  }

  .podcasts-effect {
    padding: 0;
  }

  .podcasts__descr {
    padding-left: 5px;
    height: 12px;
    font-size: 12px;
  }

  .podcasts-button-top {
    font-size: 12px;
  }

  .podcasts__block:before {
    top: 0;
    left: 0;

    width: 51px;
    height: 15px;
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 10px;
  }

  .podcasts__button:before {
    padding: 16px 27px;

    font-size: 16px;

    color: var(--primary);
    background-color: var(--white);
  }

  .podcasts__button-2:before {
    padding: 12px 27px;

    font-size: 16px;

    color: var(--primary);
    background-color: var(--white);
  }

  .podcasts__list {
    margin-bottom: 15px;
  }

  .broadcast {
    padding-bottom: 30px;
  }

  .broadcast__content {
    height: 87px;
  }

  .broadcast__title {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .broadcast__item__content {
    min-height: 150px;
    padding: 54px 9px 10px 9px;

    border: 1px solid var(--lite_color);
  }

  .broadcast__list {
    padding-top: 0;
    margin-bottom: 0;
  }

  .broadcast__item {
    min-height: 100px;
    height: 150px;
    margin-bottom: 29px;
  }

  .broadcast__item__content:before {
    height: 50px;
  }

  .broad1:before {
    background-image: url("../img/broadcasts/broadcast-2-1.jpg");
  }

  .broad2:before {
    background-image: url("../img/broadcasts/broadcast-2-2.jpg");
  }

  .broad3:before {
    background-image: url("../img/broadcasts/broadcast-2-3.jpg");
  }

  .broad4:before {
    background-image: url("../img/broadcasts/broadcast-2-4.jpg");
  }

  .broad5:before {
    background-image: url("../img/broadcasts/broadcast-2-5.jpg");
  }

  .broad6:before {
    background-image: url("../img/broadcasts/broadcast-2-6.jpg");
  }

  .broadcast__item__title {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__item__descr {
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .broadcast__item__link svg {
    padding-top: 2px;
  }

  .broadcast__link {
    padding: 0;
    font-size: 12px;
  }

  .broadcast__link svg {
    width: 24px;
    height: 9px;
  }

  .broadcast__bottom-2 {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .broadcast__choices__title {
    font-size: 12px;
    margin-bottom: 0;
  }

  .broadcast__descr {
    width: 166px;
    margin-left: 0;
    margin-bottom: 6px;

    font-size: 14px;
    line-height: 150%;
  }

  .broadcast__btn {
    margin-right: 58px;
    margin-bottom: 0;
    padding: 7px 19px;
  }

  .broadcast__btn:before {
    top: 45px;
    left: 0;

    width: 70px;
    height: 105px;

    background-size: contain;
  }

  .broadcast__bottom-2:before {
    top: 29px;
    left: 0;
    width: 77px;
    height: 105px;
  }

  .quests__title {
    font-size: 24px;
  }

  .quests__accordion-info__list:before {
    left: 1px;
    right: -1px;
    height: 159px;
    width: 256px;

    background-image: url("../img/quests/olga.png");
  }

  .quests__accordion-info__item {
    margin-right: 29px;
  }

  .quests__accordion-info__list {
    padding-top: 173px;
  }

  .quests__link svg {
    width: 30px;
    height: 30px;
  }

  .quests__link:first-child svg {
    width: 30px;
    height: 30px;
  }

  .quests__accordion-info {
    top: 104.2%;

    width: 256px;
  }

  .quests__photo {
    width: 254px;
    height: 159px;
  }

  .quests__start {
    margin-bottom: 0;
    font-size: 14px;
  }

  .quests__descr {
    margin-bottom: 28px;
    font-size: 14px;
  }

  .quests__accordion__title {
    letter-spacing: 0.8px;
    font-size: 16px;
  }

  .quests-add-padding {
    padding-bottom: 400px;
  }

  .quests__accordion__list-btn svg {
    width: 26px;
    height: 26px;
  }

  .ui-accordion .ui-accordion-header {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .ui-widget button {
    font-size: 14px;
  }

  .ui-accordion .ui-accordion-content {
    padding-top: 15px;
  }

  .quests__accordion__button {
    max-width: 100px;

    font-size: 14px;
    text-align: start;
  }

  .quests__accordion__item-two {
    width: calc((100%-50px)/2);
    margin-bottom: 24px;
  }

  .quests__accordion__item-two:nth-child(2n) {
    padding-left: 15px;
  }

  .quests__accordion__item-two:nth-child(4n) {
    order: 0;
  }

  .quests__accordion__item-two:last-child {
    margin-bottom: 20px;
  }

  .quests__accordion__item:first-child {
    display: none;
  }

  .quests__accordion {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .quests__accordion__item:nth-child(5) {
    order: -1;
  }

  .quests__accordion__list-btn {
    width: 25px;
    height: 25px;
    background-size: contain;
  }

  .quests__accordion__descr {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 9px;

    font-size: 16px;
    line-height: 180%;
  }

  .quests-add-padding {
    padding-bottom: 468px;
  }

  .quests__accordion__link {
    padding: 7px 14px;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }


  .playlists__title {
    font-size: 24px;
    margin-bottom: 19px;
  }

  .playlists__info {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .check-text:before {
    display: none;
  }

  .check-text:after {
    display: none;
  }

  .check-text {
    display: block;
    padding: 6px 19px;

    font-size: 16px;

    border: 1px solid var(--primary);
    border-radius: 77px;
    color: var(--primary);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
  }

  .checkbox:checked ~ .check-text {
    color: var(--white);
    background-color: var(--primary);
  }

  .playlists__block__bottom {
    display: block;
  }

  .playlists {
    overflow-x: hidden;
  }

  .playlists__block__left {
    display: block;
    max-width: 256px;
  }

  .playlists__list {
    position: relative;

    flex-direction: row;
    flex-wrap: nowrap;

    height: 60px;
    width: 256px;
    margin-right: 30px;
    margin-bottom: 5px;
    padding-right: 300px;

    overflow-x: scroll;
    box-sizing: content-box;
  }

  .playlists__item {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .playlists__item:last-child {
    padding-right: 0;
  }

  .playlists__block__item {
    padding-left: 0;
    padding-top: 112px;
  }

  .playlists__block__content {
    min-height: 47px;
    width: calc((256px-30px)/2);
    min-width: 0;
    height: 0;
    padding: 6px 5px 5px 8px;
  }

  .playlists__block__content:after {
    left: 78%;
    right: 0;
  }

  .playlists__block__title {
    font-size: 12px;
  }

  .playlists__block__link {
    font-size: 9px;
  }

  .playlists__block__list {
    margin-bottom: 35px;
    padding-bottom: 1px;
  }

  .playlists__info2 {
    font-size: 12px;
  }

  .playlists__descr {
    font-size: 12px;
    line-height: 16px;
  }

  .adv__block__content {
    padding-top: 260px;
  }

  .adv__block__content:after {
    top: 0;
    width: 62px;
  }

  .adv__block__content:before {
    top: 0;
  }

  .adv__image:before {
    width: 100%;
    background-image: url("../img/adv-320.svg");
}

  .adv__title {
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
  }

  .adv__descr {
    font-size: 14px;
    line-height: 160%;
  }

  .adv__descr-2 {
    margin-bottom: 9px;
  }

  .adv__description {
    margin-bottom: 13px;
    font-size: 24px;
  }

  .adv__button {
    padding: 13px 14px;
  }

  .about {
    padding-top: 55px;
    padding-bottom: 44px;
  }

  .adv__btn {
    font-size: 16px;
  }

  .about__title {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .about__descr {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 160%;
  }

  .about__description {
    width: 94%;
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 159.2%;
  }


  .about__block:after {
    display: none;
  }

  .about__block:before {
    display: none;
  }

  .about__list {
    padding: 0;
  }

  .about__container {
    margin-bottom: 18px;
    box-sizing: border-box;
  }

  .about__item {
    z-index: 1000;
    margin-right: 30px;
  }

  .swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    margin-right: 20px;
  }

  .swiper-slide.slide-active {
    width: 113px;
  }

  .about__item__info {
    width: 113px;
  }

  .about__item__title {
    width: 90%;
    padding-bottom: 3px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .about__item__descr {
    font-size: 12px;
    line-height: 16px;
  }

  .about__form__input .input-1 {
    width: 256px;
  }

  .about__form-input {
    width: 256px;
    padding: 14px 24px;
    font-size: 16px;
  }

  .about__form__input .input-1 {
    padding-top: 0;
    padding-left: 24px;
    padding-bottom: 100px;
    border-radius: 20px;
    font-size: 16px;
  }

  .about__form__btn {
    margin-bottom: 22px;
    padding: 15px 44px;
    font-size: 16px;
  }

  .footer__left {
    margin-bottom: 80px;
  }

  .footer__left__list {
    padding-top: 20px;
  }

  .footer__left {
    margin-bottom: 48px;
  }

  .footer__rigth__item:nth-child(3n) {
    padding-left: 0;
  }

  .footer__rigth__link {
    font-size: 12px;
  }

  .footer__block {
    margin-bottom: 0;
  }

  .form-check {
    font-size: 9px;
  }

  .footer__rigth__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .footer__rigth__item {
    justify-content: space-between;
    width: calc(100%/2);
    margin-bottom: 18px;
  }

  .footer__rigth__list-two {
    width: 110%;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__container__rigth {
    background-color: var(--black);
  }

  .footer {
    flex-direction: column;
  }

  .footer:before {
    background-image: url("../img/footer-320.svg");
    bottom: 72px;
  }

  .footer__mobile__block {
    display: flex;
    justify-content: center;

    padding-top: 25px;
    padding-bottom: 10px;

    background-color: var(--black);
  }

  .footer__rigth__nav {
    display: none;
  }

  .footer__nav__mobile {
    width: 256px;
  }

  .footer__logo {
    padding-top: 26px;
    padding-bottom: 0;
  }

  .footer__logo svg {
    width: 96px;
    height: 12px;
  }
}
