:root {
  --primary: #6D31EE;
  --second-color: #666666;
  --primary_shade: #4F28A5;
  --primary_ligth: #AA9DFA;
  --text_gray: #A1A6B4;
  --white: #FFFFFF;
  --shade_gray: #D2D5DD;
  --lite_color: #E6E8EC;
  --ligth_color_40: rgba(230, 232, 236, 0.4);
  --black: #121723;
  --ligth_black: #292E39;
  --red: #FF6F6F;
  --promo_color: #F0D288;
  --promo_color_shade: #BB973E;
}


@media (max-width: 1366px) {
  .content {
    width: 824px;
  }

  .header__top__logo {
    display: none;
  }

  .header__top__link:first-child {
    padding-left: 0;
  }

  .header__logo__top {
    height: 60px;
    background-color: #f2f2f2;
  }

  .form {
    width: 380px;
    padding: 15px 10px 15px 12px;
  }

  .header-logo {
    display: block;
    padding: 23px 0;
  }

  .header__bottom__list {
    width: 500px;
  }

  .header__bottom {
    padding: 5px 0;
    justify-content: space-between;
  }

  .header__bottom__block-item:last-child {
    border-right: 1px solid var(--lite_color);
  }

  .header__bottom__info {
    display: none;
  }

  .header__bottom__block {
    margin-right: 0;
    width: 36%;
  }

  .hero__content:before {
    top: 25%;
    width: 255px;
    height: 270px;
  }

  .broadcast__item {
    width: calc((100% - 30px)/2);
  }

  .quests__descr {
    width: 66%;
  }

  .quests__photo {
    width: 30%;
    height: 159px;
  }

  .quests__accordion__item-two {
    margin-right: 0;
    width: calc((100%-60px)/3);
  }

  .ui-accordion .ui-accordion-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .quests__accordion-info {
    width: 30%;
  }

  .playlists__block {
    flex-direction: column;
  }

  .playlists__block__left {
    width: 100%;
  }

  .playlists__list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
  }

  .playlists__block__rigth {
    padding-bottom: 100px;
  }

  .playlists__item {
    margin-right: 30px;
  }

  .playlists__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .playlists__block {
    position: relative;
  }

  .playlists__block__list {
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--shade_gray);
  }

  .playlists__block__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 50px;
  }

  .playlists__block__info:before {
    width: 112px;
    height: 112px;
  }

  .playlists__block__item {
    width: calc((100% - 60px)/3);
    padding-left: 112px;
    padding-top: 0;
    position: relative;
  }

  .playlists__block__item {
    margin-right: 0;
  }


  .playlists__block__info {
    display: flex;
    flex-direction: column;
    height: 112px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .adv__block__content {
    width: 50%;
  }

  .adv__block__content .adv__svg {
    width: 98%;
  }

  .adv__block__content:before {
    width:48%;
    top: 20%;
  }

  .adv__block__content:after {
    width: 12.2%;
    top: 20%;
  }

  .about__descr {
    width: 65.5%;
  }

  .about__description {
    width: 65.5%;
  }

  .about__block:before {
    top: 5%;
  }

  .about__block:after {
    display: none;
  }

  .about__list {
    justify-content: space-between;
  }

  .about__item {
    width: 397px;
    margin-right: 0;
  }

  .about__item__info:before {
    width: 100%;
  }

  .about__form__input .input-1 {
    width: 824px;
    padding-bottom: 70px;
  }

  .about__form-input {
    width: 397px;
  }

  .about__form__input:nth-child(3) {
    margin-right: 0;
  }

  .about__form__block {
    margin-right: 0;
  }

  .form-check {
    display: block;
    width: 800px;
  }

  .footer__block {
    align-items: flex-start;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 824px;
  }
}

/*----------------------------------------------------------------------------------------*/
/*                                            992                                         */
/*----------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
  .content {
    width: 540px;
  }

  .wrapper-nav {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
  }

  .wrapper-nav {
    content: "";
    position: absolute;
    display: block;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 174px;
    z-index: 6;
    padding-top: 100px;
    margin: 0 auto;
    background-color: #D2D5DD;
    color: var(--black);
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .header__nav:before {
    content: "";
    position: absolute;
    bottom: -52px;
    left: 52%;
    width: 113px;
    height: 364px;
    background-image: url("../img/spiral__header.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header__nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: 72%;
    width: 113px;
    height: 364px;
    background-image: url("../img/spiral__header.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .active {
    display: flex;
    justify-content: center;
    transform: translateX(0);
    visibility: visible;
    z-index: 7;
  }

  .header__nav {
    align-items: flex-start;
    width: 540px;
  }

  .header__top__list {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 240px;
    height: 160px;
    justify-content: flex-start;
  }

  .header__top__item {
    margin-bottom: 30px;
    padding: 0;
  }

  .header__botttom

  .form {
    width: 300px;
  }

  .header__menu svg rect {
    transition: transform .3s ease-in-out;
  }

  .header__menu {
    display: block;
    z-index: 1000;
    transition: transform .3s ease-in-out;
  }

  .menu svg rect {
    transition: transform .3s ease-in-out;
  }


  .menu svg rect:nth-child(1) {
    transform: translateX(2px) translateY(1px) rotate(45deg)
  }

  .menu svg rect:nth-child(2) {
    display: none;
  }

  .menu svg rect:nth-child(3) {
    transform: translateX(-8px) translateY(10px) rotate(-45deg);
  }


  .header__bottom {
    align-items: center;
  }

  .header__bottom__block {
    display: none;
  }

  .header__bottom__list {
    width: 496px;
    padding: 22px 0;
  }

  .header__bottom__play {
    display: block;
  }

  .play-icon {
    display: block;
  }

  .play-active {
    transition: opacity .3s ease-in-out;
  }

  .header__bottom__play {
    transition: background-image .3s ease-in-out;
    background-image: url('../img/play.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
  }

  .play-active {
    transition: background-image .3s ease-in-out;
    background-image: url('../img/pause.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero__content:before {
    display: none;
  }

  .hero__content {
    width: 100%;
  }

  .podcasts__item {
    width: 100%;
  }
  .podcasts__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .broadcast__block {
    display: block;
  }

  .broadcast__item {
    width: calc((100% - 30px)/2);
  }

  .broadcast__bottom {
    display: none;
  }

  .broadcast__choices:before {
    display: none;
  }

  .broadcast__content {
    height: 100px;
  }

  .broadcast__list {
    padding-bottom: 20px;
  }

  .broadcast__bottom__two {
    border-top: 1px solid var(--lite_color);
  }

  .broadcast__bottom-2 {
    padding-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .broadcast__btn {
    position: static;
  }

  .broadcast__btn {
    margin: 0 auto;
    display: flex;
    margin-bottom: 15px;
  }

  .broadcast__btn:before {
    content: "";
    position: absolute;
    background-image: url("../img/mic.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 96px;
    top: 40;
    bottom: 0;
    left: 15%;
  }

  .broadcast__descr {
    width: 255px;
    margin-left: 35%;
  }

  .quests__container {
    flex-direction: column;
  }

  .quests__accordion {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .quests__photo {
    width: 540px;
    height: 220px;
  }

  .quests__accordion {
    position: relative;
  }

  .quests__accordion-info {
    content: "";
    width: 540px;
    position: absolute;
    right: 0;
    left: 0;
    top: 103.7%;
  }

  .quests__descr {
    width: 100%;
  }

  .playlists__block__left {
    width: 100%;
    margin-right: 0;
  }

  .playlists__list {
    width: 100%;
  }

  .playlists__block__list {
    padding-top: 0;
  }

  .playlists__block__item {
    width: calc((100% - 30px)/2);
  }

  .adv__block__content:before {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .adv__block__content:after {
    width: 160px;
    right: 0;
    top: 0;
  }

  .adv__block__content {
    width: 100%;
    padding-top: 560px;
  }

  .adv__svg {
    width: 539%;
  }

  .about__descr {
    width: 100%;
  }

  .about__description {
    width: 100%;
  }

  .about__list {
    padding-top: 150px;
    position: relative;
  }

  .about__item {
    width: 255px;
  }

  .about__block:before {
    width: 112px;
    height: 112px;
    background-position: center;
    border-radius: 100%;
    top: 23%;
    bottom: 0;
    right: 0;
  }

  .about__block:after {
    content: "";
    position: absolute;

    display: block;
    background-image: url('../img/spiral-two.svg');
    box-sizing: content-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 112px;
    top: 23%;
    right: 100px;
  }

  .about__form__input .input-1 {
    width: 540px;
  }

  .about__form-input {
    width: 540px;
  }

  .footer__block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__left {
    margin-bottom: 20px;
  }

  .footer__rigth__list {
    width: 100%;
  }

  .footer__rigth__item {
    width: calc((100% - 315px) /3);
    margin-bottom: 20px;
  }

  .footer__rigth__item:not(:nth-child(3n)) {
    margin-right: 157px;
  }

  .form-check {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .content {
    width: 256px;
  }

  .container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .header__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }

  .header-logo {
    padding: 0;
  }

  .header-logo svg {
    width: 87px;
    height: 10px;
  }

  .header__top__btn {
    display: none;
  }

  .header__top__list {
    width: 256px;
  }

  .wrapper-nav {
    bottom: 50%;
    padding-top: 75px;
  }

  .header__nav {
    width: 256px;
  }

  .header__nav:before {
    display: none;
  }

  .header__nav:after {
    display: none;
  }

  .header__top__btn-2 {
    display: flex;
    align-items: center;
    padding: 5px 10px;

    font-size: 16px;
    font-weight: 500;

    border: 1px solid var(--black);
    border-radius: 20px;
  }

  .header__top__buttons {
    display: block;
    width: 24px;
  }

  .wrapper-bottom {
    display: none;
  }

  .wrapper-bottom {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    padding-top: 50px;
    background-color: #FFFFFF;
    color: var(--black);
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .active-2 {
    display: flex;
    justify-content: center;
    transform: translateX(0);
    visibility: visible;
    z-index: 4;
  }

  .wrapper-width {
    width: 256px;
  }

  .play--color {
    background-color: var(--lite_color);
  }

  .header__mobile {
    transition: transform .3s ease-in-out;
  }

  .header__mobile {
    transform: rotate(0);
  }

  .header--transform {
    transform: rotate(45deg);
  }

  .form {
    top: 12px;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
  }

  .form-btn-submit {
    margin-right: 5px;
  }

  .form__input {
    width: 100px;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #DCDCDC;
    margin-right: 30px;
    font-size: 9px;
  }


  .header__bottom__item {
    padding-bottom: 30px;
  }

  .header__bottom__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 200px;
    width: 256px;
  }

  .header__bottom {
    display: flex;
    flex-direction: column;
  }

  .header__bottom__block {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 153px;
    left: 0;
    right: 0;
    z-index: 3;
    width: 256px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: var(--black);
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .header__bottom__text-top {
    font-size: 9px;
  }

  .header__bottom__text-bottom {
    font-size: 14px;
  }

  .header__bottom__block-item {
    width: 108px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 30px;
    padding: 0;
    margin: 0;
    border: none;
  }

  .header__bottom__block-content {
    padding: 0;
  }

  .header__bottom__play {
    display: none;
  }

  .header__bottom__block-item:first-child {
    border: none;
    border-right: 1px solid var(--lite_color);
  }

  .play--active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(0);
    visibility: visible;
    z-index: 4;
  }

  .header__bottom {
    justify-content: center;
    padding: 0;
  }

  .header__bottom__mobile {
    display: flex;
    justify-content: center;
    padding: 13px 0;
  }

  .header__mobile__btn {
    display: flex;
    align-items: center;
  }

  .header__mobile {
    width: 15px;
    height: 15px;
    padding: 0;
  }

  .header__mobile__descr {
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--primary);
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__title-info {
    font-size: 32px;
  }

  .hero__descr {
    font-size: 14px;
  }

  .hero__btn {
    padding: 17px 45px;
    font-size: 16px;
  }

  .podcasts__item:before {
    content: "";
    position: absolute;
    width: 256px;
    height: 72px;
    top: 0;
    left: 0;
    right: 0;
  }

  .photo-1:before {
    background-image: url("../img/podcasts/Rectangle\ 7.png");
  }

  .photo-2:before {
    background-image: url("../img/podcasts/podcasts-2.png");
  }

  .photo-3:before {
    background-image: url("../img/podcasts/podcasts-3.png");
  }

  .photo-4:before {
    background-image: url("../img/podcasts/podcasts-4.png");
  }

  .photo-5:before {
    background-image: url("../img/podcasts/Rectangle\ 7.png");
  }

  .photo-6:before {
    background-image: url("../img/podcasts/podcasts-2.png");
  }

  .photo-7:before {
    background-image: url("../img/podcasts/podcasts-3.png");
  }

  .photo-8:before {
    background-image: url("../img/podcasts/podcasts-4.png");
  }

  .podcasts__title {
    font-size: 24px;
  }

  .podcasts__block {
    padding-left: 0;
    padding-top: 72px;
  }

  .podcasts__block__title {
    font-size: 16px;
  }

  .podcasts__block__name {
    font-size: 12px;
  }

  .podcasts__btn-play svg {
    width: 31.5px;
    height: 31.5px;
  }

  .podcasts__block__list {
    justify-content: space-between;
  }

  .podcasts__item {
    max-height: 185px;
  }

  .podcasts__block__item-bottom {
    display: flex;
    align-items: center;
  }

  .podcasts-effect {
    padding: 0;
  }

  .podcasts__descr {
    padding-top: 2px;
    padding-left: 2px;
    font-size: 12px;
  }

  .podcasts-button-top {
    display: flex;
    font-size: 12px;
    align-items: center;
  }

  .podcasts__block:before {
    top: 0;
    left: 0;
    font-size: 10px;
    width: 51px;
    height: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .podcasts__button:before {
    font-size: 16px;
    color: var(--primary);
    padding: 12px 27px;
    background-color: var(--white);
  }

  .podcasts__button-2:before {
    font-size: 16px;
    padding: 12px 27px;
    color: var(--primary);
    background-color: var(--white);
  }

  .broadcast__title {
    font-size: 24px;
  }

  .broadcast__item__content {
    padding: 50px 10px 10px 10px;
    min-height: 150px;
    border: 1px solid var(--lite_color);
  }

  .broadcast__item {
    min-height: 100px;
    height: 150px;
  }

  .broadcast__item__content:before {
    height: 50px;
  }

  .broad1:before {
    background-image: url("../img/broadcasts/broadcast-2-1.jpg");
  }

  .broad2:before {
    background-image: url("../img/broadcasts/broadcast-2-2.jpg");
  }

  .broad3:before {
    background-image: url("../img/broadcasts/broadcast-2-3.jpg");
  }

  .broad4:before {
    background-image: url("../img/broadcasts/broadcast-2-4.jpg");
  }

  .broad5:before {
    background-image: url("../img/broadcasts/broadcast-2-5.jpg");
  }

  .broad6:before {
    background-image: url("../img/broadcasts/broadcast-2-6.jpg");
  }

  .broadcast__item__title {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__item__descr {
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .broadcast__item__link svg {
    padding-top: 2px;
  }

  .broadcast__link {
    font-size: 12px;
    padding: 0;
  }

  .broadcast__bottom-2 {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .broadcast__descr {
    margin-left: 0;
    width: 166px;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 10px;
  }

  .broadcast__btn {
    width: 80px;
    padding: 5px 20px;
  }

  .broadcast__btn:before {
    width: 70px;
    height: 105px;
    top: 45px;
    left: 0;
    background-size: contain;
  }

  .quests__title {
    font-size: 24px;
  }

  .quests__start {
    font-size: 14px;
  }

  .quests__descr {
    font-size: 14px;
  }

  .quests__accordion__title {
    font-size: 16px;
  }

  .quests-add-padding {
    padding-bottom: 400px;
  }

  .quests__accordion__list-btn svg {
    width: 26px;
    height: 26px;
  }

  .ui-accordion .ui-accordion-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .quests__accordion__button {
    max-width: 100px;
    font-size: 14px;
    text-align: start;
  }

  .quests__accordion__item-two {
    width: calc((100%-30px)/2);
  }

  .quests__photo {
    width: 257px;
    height: 159px;
  }

  .quests__accordion-info {
    width: 257px;
  }

  .quests__accordion__descr {
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 20px;
  }

  .quests__accordion__link {
    padding: 8px 15px;
  }

  .playlists__title {
    font-size: 24px;
  }

  .check-text:before {
    display: none;
  }

  .check-text:after {
    display: none;
  }

  .check-text {
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid var(--primary);
    border-radius: 77px;
    color: var(--primary);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
  }

  .checkbox:checked ~ .check-text {
    color: var(--white);
    background-color: var(--primary);
  }

  .playlists__block__bottom {
    display: block;
  }

  .playlists {
    overflow-x: hidden;
  }

  .playlists__block__left {
    display: block;
    max-width: 256px;
  }

  .playlists__list {
    height: 60px;
    width: 256px;
    position: relative;
    overflow-x: scroll;
    box-sizing: content-box;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 30px;
    padding-right: 300px;
  }

  .playlists__item {
    margin-bottom: 0;
  }

  .playlists__item:last-child {
    padding-right: 0;
  }

  .playlists__block__item {
    padding-left: 0;
    padding-top: 112px;
  }

  .playlists__block__info {
    height: 50px;
  }

  .playlists__block__title {
    font-size: 12px;
  }

  .playlists__block__descr {
    font-size: 9px;
  }

  .playlists__block__list {
    margin-bottom: 70px;
    padding-bottom: 10px;
  }

  .adv__block__content {
    padding-top: 245px;
  }

  .adv__block__content:after {
    width: 62px;
  }

  .adv__title {
    font-size: 24px;
  }

  .adv__descr {
    font-size: 14px;
  }

  .adv__description {
    font-size: 24px;
  }

  .adv__button {
    padding: 10px 10px;
  }

  .adv__btn {
    font-size: 16px;
  }

  .about__title {
    font-size: 24px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 160%;
  }

  .about__description {
    font-size: 14px;
  }

  .about__block:after {
    display: none;
  }

  .about__block:before {
    display: none;
  }

  .about__list {
    padding-top: 0;
  }

  .about__item {
    width: 113px;
  }

  .about__item__info {
    width: 113px;
  }

  .about__item__title {
    font-size: 14px;
  }

  .about__item__descr {
    font-size: 12px;
    line-height: 16px;
  }

  .about__form__input .input-1 {
    width: 256px;
  }

  .about__form-input {
    width: 256px;
  }

  .footer__left {
    margin-bottom: 80px;
  }

  .form-check {
    font-size: 9px;
  }

  .footer__rigth__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .footer__rigth__item {
    width: calc(100%/2);
    justify-content: space-between;
  }
}
