html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, ul, p, a {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
      url("../fonts/MullerLight.woff2") format("woff2"),
      url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
      url("../fonts/MullerMedium.woff2") format("woff2"),
      url("../fonts/MullerMedium.woff.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
      url("../fonts/MullerRegular.woff2") format("woff2"),
      url("../fonts/MullerRegular.woff.woff.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
      url("../fonts/MullerBold.woff2") format("woff2"),
      url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Italic'),
      url("../fonts/MullerRegularItalic.woff2") format("woff2"),
      url("../fonts/MullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary: #6D31EE;
  --second-color: #666666;
  --primary_shade: #4F28A5;
  --primary_ligth: #AA9DFA;
  --text_gray: #A1A6B4;
  --white: #FFFFFF;
  --shade_gray: #D2D5DD;
  --lite_color: #E6E8EC;
  --ligth_color_40: rgba(230, 232, 236, 0.4);
  --black: #121723;
  --ligth_black: #292E39;
  --red: #FF6F6F;
  --promo_color: #F0D288;
  --promo_color_shade: #BB973E;
}

body {
  font-family: "Muller", sans-serif;
  background-color: #E5E5E5;
}

*:focus,
*:active,
*:focus-visible {
  outline: none;
}



.container {
  max-width: 3400px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*для Firefox иначе outline в виде пунктира пунктир*/
button:focus-visible {
  outline: none;
}


/*header*/
.header {
  position: relative;
  margin: 0 auto;
  background-color: #FFFFFF
}

.header-logo {
  display: none;
}

.header__menu {
  display: none;
}

.content {
  width: 57.819vw;
  min-width: 1110px;
  max-width: 1600px;
  box-sizing: border-box;
  margin: 0 auto;
}


.header__top {
  display: flex;
  align-items: center;
  padding: 9px 0 20px 0;
}

.header__top__nav {
  margin-right: auto;
}

.header__top__logo {
  margin-right: 75px;
}

.header__top__list {
  display: flex;
  width: 33.7vw;
  max-width: 800px;
  padding-top: 2px;
  align-items: center;
  justify-content: space-between;
}

.header__top__item {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
}

.header__top__link {
  padding: 5px;
}

.header__top__buttons {
  position: relative;
  display: flex;
  align-items: center;
}

.header__top__buttons {
  display: flex;
  width: 152px;
  justify-content: space-between;
}

.header__top__link-two {
  display: none;
}

.header__top__lnk {
  display: flex;
  align-items: center;
  padding: 9px 31px 9px 31px;

  font-size: 16px;
  font-weight: 500;

  border: 1px solid var(--black);
  border-radius: 20px;
}

.header__form__btn {
  margin-right: 20px;
}


.header__top__btn-searth {
  padding-top: 2px;
  transition: opacity .3s ease-in-out;
}

.form {
  position: absolute;
  z-index: 10;
  top: 22px;
  right: 120px;

  display: flex;
  align-items: center;
  width: 300px;
  padding: 15px 3px 15px 12px;

  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.12);
  opacity: 0;
  visibility: hidden;

  transition: transform .1s ease-in-out, opacity .1s ease-in-out .1s,
  visibility .1s ease-in-out .1s;
  transform: translate(0, -50%);
}

.form__active {
  transform: translate(0, -50%);
  opacity: 1;
  visibility: visible;
}

.header__form__input {
  width: 278px;
  padding: 5px;
  margin: 0;
  margin-right: 5px;

  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--primary);
}

.header__form__input:focus-visible {
  outline: 0;
  opacity: 0.8;
}

.nav-effect {
  transition: color .3s ease-in-out,
  background-color .3s ease-in-out;
}

.nav-effect path {
  transition: fill .3s ease-in-out;
}

.nav-effect:active {
  color: var(--primary_shade);
}

.nav-effect:focus {
  color: var(--primary_ligth);
}

/*header__bottom*/

.header-content {
  padding: 0;
  border: 1px solid var(--ligth_color_40);
}

.header__bottom__mobile {
  display: none;
}

.header__bottom {
  display: flex;
  height: 58px;
}

.header__bottom__tablet {
  margin-right: 48px;
}

.header__bottom__list {
  width: 32.1vw;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
}

.header__bottom__item {
  font-size: 16px;
  font-weight: 400;

  color: var(--black);
}

.header__bottom__play {
  display: none;
}

.header__bottom__link {
  padding: 5px;
}

.header__bottom__link:first-child {
  padding-left: 0;
}

.header__bottom__block {
  display: flex;
  width: 18.1vw;
  min-width: 347px;
  align-items: center;
  margin-right: auto;
}

.header__block__item {
  display: flex;
  align-items: center;
}

.header__block__btn {
  width: 22px;
  height: 22px;
}

.header__block__btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: visibility .1s ease-in;
}

.header-play-active {
  width: 22px;
  height: 22px;

  background-image: url("../img/status=pause.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-play-active svg {
  visibility: hidden;
  transition: visibility .1s ease-in-out;
}

.header__block__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.header__block__item {
  position: relative;

  width: 175px;
  padding-left: 11px;
  padding-right: 11px;

  border-right: 1px solid var(--lite_color);
}

.header__block__item:first-child {
  border-left: 1px solid var(--lite_color);
}

.header__block__text-top {
  padding-bottom: 2px;
  font-size: 12px;
  font-weight: 400;

  color: var(--text_gray);
}

.header__block__text-bottom {
  padding-right: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.header__bottom__info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 46px;

  background-color: var(--lite_color);
}

.header__bottom__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 12px;
  border-radius: 100%;
  color: var(--text_gray);
  background-color: var(--white);
}

/*hero*/
.hero {
  padding-top: 98px;
  padding-bottom: 118px;
}

.hero__content {
  width: 57.2%;
}

.hero__container {
  position: relative;
}

.hero__content:before {
  content: "";
  position: absolute;
  bottom: -77px;
  right: 0;
  width: 355px;
  height: 380px;

  background-image: url("../img/microphone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
}

.hero__title {
  padding: 0;
  margin-bottom: 11px;
}

.hero__title-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.hero__title-2 {
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
}

.hero__descr {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: 68px;
}

.hero__btn {
  padding: 23px 54px;

  font-size: 20px;

  color: var(--white);
  background-color: var(--primary);
  border-radius: 40px;
}

/*podcasts*/
.podcasts {
  padding-top: 93px;
  padding-bottom: 116px;
  background-color: #F2F2F2;
}

.podcasts__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 111px;
  background-color: var(--white);
}

.podcasts__title {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  color: var(--black);
}

.podcasts__block__info {
  display: flex;
  flex-direction: column;
}

.podcasts__block__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-right: 30px;
  padding-left: 31px;
}

.podcasts__block__time {
  margin-bottom: 8px;

  font-size: 12px;
  font-weight: 400;
  color: var(--black);
}

.podcasts__block__title {
  margin-bottom: 0;

  font-size: 20px;
  font-weight: 400;
  color: var(--black);
}

.podcasts__block__name {
  margin-bottom: 21px;

  font-size: 16px;
  font-weight: 400;
  color: var(--text_gray);
}

.podcasts__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.podcasts__item {
  display: flex;
  position: relative;
  margin-bottom: 32px;
  width: calc((100% - 30px) / 2);
  max-height:100vh;

  transition: 0.5s ease-in;
}

.podcasts__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.podcasts__item:nth-child(n + 9) {
  max-height: 0;
  margin-bottom: 0;

  transition: 0.5s ease;
  transition: display .6s ease-in-out;
  overflow: hidden;
  visibility: hidden;
}

.podcasts__item.podcasts__item__visible {
  margin-bottom: 30px;
  max-height:100vh;
  transition: 0.5s ease;
  visibility: visible;
}

.podcasts__btn-play {
  width: 48px;
  height: 48px;
  margin-bottom: 22px;
}

.podcasts-play-active {
  background-image: url("../img/status=pause.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.podcasts-play-active svg {
  visibility: hidden;
}

.podcasts-play-active {
  z-index: 2;
  opacity: 1;
}

.podcasts__btn-play-disabled {
  display: none;
}

.podcasts__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-1:before {
  background-image: url("../img/podcasts/podcasts-1.png");
}

.photo-2:before {
  background-image: url("../img/podcasts/podcasts-2.png");
}

.photo-3:before {
  background-image: url("../img/podcasts/podcasts-3.png");
}

.photo-4:before {
  background-image: url("../img/podcasts/podcasts-4.png");
}

.photo-5:before {
  background-image: url("../img/podcasts/podcasts-5.png");
}

.photo-6:before {
  background-image: url("../img/podcasts/podcasts-6.png");
}

.photo-7:before {
  background-image: url("../img/podcasts/podcasts-7.png");
}

.photo-8:before {
  background-image: url("../img/podcasts/podcasts-8.png");
}

.podcasts__block:before {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 51px;
  padding-top: 2px;
  padding-bottom: 2px;

  font-size: 10px;
  text-align: center;

  background-color: var(--lite_color);
}

.date1:before {
  content: "14 июня";
}

.date2:before {
  content: "11 июня";
}

.date3:before {
  content: "8 июня";
}

.date4:before {
  content: "5 июня";
}

.date5:before {
  content: "2 июня";
}

.date6:before {
  content: "28 мая";
}

.date7:before {
  content: "22 мая";
}

.date8:before {
  content: "18 мая";
}

.podcasts__block__list {
  display: flex;
  align-items: center;

  padding: 4px 30px 6px 26px;
  border-top: 1px solid var(--lite_color);
}

.podcasts__block__item-bottom {
  height: 20px;
  margin-right: 23px;
}

.podcasts-effect {
  padding: 5px;
  text-align: center;
}

.podcasts-button-click {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: var(--text_gray);
}

.podcasts__block__item-bottom:first-child {
  padding: 5px;
}

.podcasts__descr {
  height: 16px;

  font-size: 16px;
  font-weight: 400;

  color: var(--text_gray);
}

.podcasts__btn {
  text-align: center;
}

.podcasts__button:before {
  content: "Еще подкасты";
  padding: 23px 53px;

  font-size: 20px;
  font-weight: 500;

  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 40px;
  /*background-color: var(--white);*/
}

.podcasts__button-2:before {
  content: "Скрыть";
  padding: 24px 53px;

  font-size: 20px;
  font-weight: 500;

  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 40px;
}


/*broadcast*/
.broadcast {
  background-color: var(--white);
  padding-bottom: 64px;
}

.broadcast__title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 5px;

  color: var(--black);
}


.choices {
  width: 255px;

  font-size: 16px;
  font-weight: 400;

  border-radius: 10px;
  color: var(--black);
}

.choices__inner {
  background-color: var(--lite_color);
}

.choices .choices__list.choices__list--dropdown .choices__placeholder {
  display: none;
}

.header_choices.choices[data-type*=select-one]:after {
  top: 40%;
  right: 22px;
  z-index: 5;

  width: 15px;
  height: 10px;

  border-radius: 100%;
  border: 0;
  background-image: url("../img/arrow2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform .3s ease-in-out;
  transform: translateX(50%);
}

.header_choices.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  transform: rotate(180deg) translate(-50%, 2px);
}

.header_choices .choices__inner {
  box-sizing: border-box;
}

.choices__placeholder {
  opacity: 1;
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: var(--black);
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;

  border-left: 1px solid var(--lite_color);
  border-right: 1px solid var(--lite_color);
  border-top: 1px solid var(--lite_color);
}

.header_choices .choices__inner {
  background-color: var(--lite_color);
}

.choices__list--dropdown .choices__item--selectable:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid var(--lite_color);
}

.header_choices .choices__list--dropdown {
  top: 0;
  left: -1px;
  right: 0;
  z-index: 1;

  padding-top: 40px;
  width: calc(100% + 2px);

  border-color: transparent;
}


.header_choices .choices__inner {
  position: relative;
  left: 0;
  z-index: 2;

  width: 100%;

  border-radius: 10px;
  border-color: transparent;
}

.header_choices.is-open .choices__inner {
  border-radius: 10px 10px 0 0;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.broadcast__choices__title {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 400;

  color: var(--text_gray);
}

.broadcast__block__left {
  position: relative;

  width: 255px;
  margin-right: 30px;
}

.broadcast__choices:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 352px;

  width: 65px;
  height: 89px;

  background-image: url("../img/mic.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.broadcast__btn {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 160px;
  margin-bottom: 13px;
  padding: 8px 42px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  color: var(--black);
  border-radius: 77px;
  border: 2px solid var(--black);
}

.broadcast__link__left {
  padding-left: 5px;
}

.broadcast__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 505px;
}

.broadcast__descr {
  width: 102%;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: var(--text_gray);
}

.broadcast__block {
  display: flex;
}

.broadcast__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  flex: 1;

  width: 100%;
  padding-top: 15px;
}

.broadcast__item {
  position: relative;

  display: flex;
  flex: 1;
  padding-top: 148px;
  width: calc((100% - 60px)/3);
  min-width: calc((100% - 60px)/3);
  min-height: 260px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.broadcast__item:nth-child(3n) {
  margin-right: 0;
}

.broadcast__item__content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 255px;
  min-height: 148px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.broad1:before {
  background-image: url("../img/broadcasts/broad-1.png");
}

.broad2:before {
  background-image: url("../img/broadcasts/broad-2.png");
}

.broad3:before {
  background-image: url("../img/broadcasts/broad-3.png");
}

.broad4:before {
  background-image: url("../img/broadcasts/broad-4.png");
}

.broad5:before {
  background-image: url("../img/broadcasts/broad-5.png");
}

.broad6:before {
  background-image: url("../img/broadcasts/broad-6.png");
}

.broadcast__item__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 112px;
  padding: 15px 15px 19px 15px;

  border: 1px solid var(--lite_color);
}

.broadcast__item__title {
  padding-top: 5px;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  color: var(--black);
}

.broadcast__item__descr {
  display: block;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  color: var(--text_gray);
}

.broadcast__btn {
  position: relative;
}

.broadcast__link {
  padding: 5px;
  padding-left: 0;
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  font-style: italic;

  color: var(--black);
}


.broadcast__link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.broadcast__bottom-2 {
  display: none;
}

/*quests*/
.quests {
  background-color: var(--black);
  transition: padding .3s ease-in-out;
}

.quests__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 14px;

  color: var(--white);
}

.quests__start {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 8px;

  color: var(--text_gray);
}

.quests__descr {
  width: 74.5%;
  margin-bottom: 49px;

  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  color: var(--text_gray);
}

.ui-accordion .ui-accordion-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-top: -1px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  background-color: var(--black);

  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--primary_ligth);
  border-top: 1px solid var(--primary_ligth);
}


.ui-widget button {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.quests__accordion__item-two {
  margin-bottom: 11px;
}

.quests__item__block {
  width: 190px;
}

.quests__item__block:nth-child(4) {
  width: 160px;
}

.quests__accordion__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
}

.quests__accordion {
  width: 38.1vw;
  min-width: 730px;
  max-width: 1200px;
  margin-right: 30px;
}

.quests-add-padding {
  padding-bottom: 94px;
}

.choices__inner {
  min-height: 36px;
}

.choices__list--single {
  padding: 3px 16px 4px 4px;
}

.quests__block__desctop {
  display: flex;
  justify-content: space-between;
}

.quests__item__block:nth-child(n + 5 ) {
  display: none;
}


.ui-accordion .ui-accordion-content {
  padding: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 19px;

  background-color: var(--black);
  border: none;
}

.quests__accordion__title {
  margin: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
}

.quests__accordion__list-top {
  position: relative;

  padding-right: 2px;
}

.quests__accordion__list-btn {
  width: 42px;
  height: 42px;
  margin-right: 3px;

  transition-property: transform;
  transition: .3s ease-in-out;
}

.quests__accordion__list-top.ui-state-active .quests__accordion__list-btn {
  transform: rotate(-180deg);
}

.quests__container {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.quests__photo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 220px;

  background-color: var(--ligth_black);
}

.quests__photo__hide {
  opacity: 0;
}

.quests__accordion-info__list {
  display: flex;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 7px;
  }

.quests__accordion-info__item {
  margin-right: 33px;
}

.quests__accordion__descr {
  margin-bottom: 38px;
  padding-top: 7px;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--text_gray);
}

.quests__accordion__link {
  padding: 10px 18px;

  border-radius: 77px;
  border: 2px solid var(--primary_ligth);
}

.quests__accordion-info {
  content: "";
  position: absolute;
  right: 0;
  top: 0;

  width: 350px;
}

.quests__wrap {
  position: relative;
}

.quests__accordion__name {
  margin-bottom: 18px;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.quests__accordion__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.ui-widget-content .quests__accordion__link  {
  color: var(--primary_ligth);
}

.quests__accordion-info {
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.quests__accordion-info--active {
  opacity: 1;
  visibility: visible;
}


/*playlists*/

.playlists {
  padding-bottom: 64px;
  background-color: var(--white);
}

.playlists__block__left {
  width: 350px;
  margin-right: 30px;
}

.playlists__title {
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--black);
}

.playlists__info {
  display: block;
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text_gray);
}

.playlists__list {
  width: 350px;
  margin-bottom: 0;
  padding-left: 2px;
}

.playlists__item {
  margin-bottom: 25.5px;
}

.check-text {
  position: relative;
  padding-left: 40px;
  padding-top: 5px;

  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);

  cursor: pointer;
}

.checkbox {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.check-text:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;

  width: 30px;
  height: 30px;

  border-radius: 100%;
  opacity: 0;
  background: var(--primary) url("../img/playlists-checked.svg") no-repeat;

  transition: opacity .3s ease-in-out;
}

.check-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 26px;
  height: 26px;

  border-radius: 100%;
  border: 2px solid var(--text_gray);
}

.checkbox:checked ~ .check-text:after {
  opacity: 1;
  color: #333333;
}


.playlists__item:last-child {
  padding-bottom: 25px;
  margin-bottom: 39px;

  border-bottom: 1px solid var(--text_gray);
}

.playlists__descr {
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text_gray);
}

.playlists__info2 {
  display: block;
  margin-bottom: 6px;

  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--text_gray);
}

.playlists__info3 {
  display: block;
  width: 30px;
  height: 30px;
  padding: 9px 0;

  font-weight: 300;
  font-size: 12px;
  text-align: center;

  color: var(--text_gray);
  border-radius: 100%;
  border: 1px solid var(--text_gray);
}

.playlists__block__item {
  position: relative;
  display: flex;
  justify-content: stretch;
  width: calc((100% - 90px)/4);
  min-width: 160px;
  padding-top: 160px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.playlists__block__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.playlists__block__link {
  display: flex;
  flex: 1;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--text_gray);
}

.playlists__block__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 144px;
  min-height: 64px;
  padding: 16px;
  padding-bottom: 0;
  border: 1px solid var(--lite_color);
}

.playlists__block__descr {
  margin: 0;
}

.playlists__block__content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-width: 160px;
  min-height: 160px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


.playlists__block__link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 112px;
  width: 100%;
  height: 160px;
}

.playlists__block__content:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 24px;
  height: 20px;

  background-size: cover;
  background-repeat: no-repeat;
}

.playlists__block {
  display: flex;
}

.playlists__block__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
}

.playlists__block__info {
  display: block;
  padding: 16px;
  border: 1px solid var(--lite_color);
}

.playlists__block__info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;
  background-size: contain;
}


.play-photo1:before {
  background-image: url('../img/playlists/playlists-1.png');
}

.play-photo2:before {
  background-image: url('../img/playlists/playlists-2.png');
}

.play-photo3:before {
  background-image: url('../img/playlists/playlists-3.png');
}

.play-photo4:before {
  background-image: url('../img/playlists/playlists-4.png');
}

.play-photo5:before {
  background-image: url('../img/playlists/playlists-5.png');
}

.play-photo6:before {
  background-image: url('../img/playlists/playlists-6.png');
}

.play-photo7:before {
  background-image: url('../img/playlists/playlists-7.png');
}

.play-photo8:before {
  background-image: url('../img/playlists/playlists-8.png');
}

.play-photo9:before {
  background-image: url('../img/playlists/playlists-9.png');
}

.play-photo10:before {
  background-image: url('../img/playlists/playlists-10.png');
}

.play-photo11:before {
  background-image: url('../img/playlists/playlists-11.png');
}

.play-photo12:before {
  background-image: url('../img/playlists/playlists-12.png');
}



.play-photo1:after {
  background-image: url('../img/playlists/russia.svg');
}

.play-photo2:after {
  background-image: url('../img/playlists/russia.svg');
}

.play-photo3:after {
  background-image: url('../img/playlists/russia.svg');
}

.play-photo4:after {
  background-image: url('../img/playlists/russia.svg');
}

.play-photo5:after {
  background-image: url('../img/playlists/russia.svg');
}

.play-photo6:after {
  background-image: url('../img/playlists/russia.svg');
}

.play-photo7:after {
  background-image: url('../img/playlists/angl.svg');
}

.play-photo8:after {
  background-image: url('../img/playlists/angl.svg');
}

.play-photo9:after {
  background-image: url('../img/playlists/angl.svg');
}

.play-photo10:after {
  background-image: url('../img/playlists/angl.svg');
}

.play-photo11:after {
  background-image: url('../img/playlists/angl.svg');
}

.play-photo12:after {
  background-image: url('../img/playlists/angl.svg');
}

.playlists__block__item:nth-child(4n) {
  margin-right: 0;
}

.adv {
  padding-bottom: 131px;
  background-color: var(--ligth_black);
}

.adv__title {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--promo_color);
}

.adv__image {
  position: relative;
}

.adv__image:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  height: 20px;
  width: 23.5vw;
  max-width: 500px;

  background-image: url("../img/adv-svg-desct.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.adv__block {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.adv__block__content {
  width: 23.2vw;
  max-width: 500px;
  min-height: 550px;
}


.adv__block__content:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -5px;

  width: 640px;
  height: 562px;

  background-image: url('../img/playlists/radio.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.adv__block__content:after {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;

  width: 160px;
  height: 160px;

  background-image: url('../img/newsvg.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.adv__descr {
  padding-top: 29px;
  width: 99%;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--white);
}

.transfer-768{
  display: none;
}

.adv__descr-2 {
  width: 100%;
  padding-top: 13px;
  margin-bottom: 30px;
}

.adv__description {
  display: block;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--white);
}

.adv__btn {
  padding-left: 5px;
}

.adv__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;

  padding: 22px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;

  border-radius: 100px;
  border: 2px solid var(--promo_color);
  color: var(--promo_color);
}


/*about*/
.about {
  padding-top: 98px;
  padding-bottom: 84px;
  background-color: var(--black);
}

.about__title {
  margin-bottom: 13px;

  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--white);
}

.about__descr {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--text_gray);
}

.about__description {
  max-width: 634px;

  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--text_gray);
}

.about__block {
  position: relative;
}

.about__block:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;

  width: 255px;
  height: 255px;

  background-image: url('../img/rays.svg');
  background-repeat: no-repeat;
}

.transfer-320 {
  display: none;
}

.about__block:after {
  content: "";
  position: absolute;
  top: -1px;
  right: 285px;

  width: 160px;
  height: 290px;

  background-image: url('../img/spiral.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
  margin-bottom: 15px;
}

.about__item {
  position: relative;

  width: calc((100% - 90px)/4);
}

.swiper-button-next {
  top: 40.5%;
  right: -75px;
  width: 42px;
  height: 42px;

  background-image: url("../img/next.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev {
  top: 40.5%;
  left: -75px;
  width: 42px;
  height: 42px;

  background-image: url("../img/prev.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.about__item__title {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.about__item__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_gray);
}

.about__form__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about__form__input .input-1 {
  width: 920px;
  height: 150px;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 80px;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  border-radius: 30px;
}

.about__form-input {
  width: 445px;
  padding: 24px 20px;
  padding-left: 32px;
  flex: 1;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  border-radius: 30px;

  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 40px;
  color: var(--text_gray);

  cursor: pointer;
}

.about__form__input .about__form-input {
  border: 1px solid var(--white);
}

.about__form__btn {
  display: block;
  margin-bottom: 31px;
  padding: 25px 54px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  border-radius: 40px;
  color: var(--white);
  background-color: var(--primary);
}

.about__form__checkbox {
  position: static;
}

.form-check {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--white);
}

.form-check {
  position: relative;

  display: flex;
  align-items: center;

  padding-left: 22px;
  margin-bottom: 10px;
}

.form-checkbox {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.check-box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  width: 14px;
  height: 14px;
  cursor: pointer;
  border: 1px solid var(--white);
}

.invalid {
  position: relative;
  font-size: 22px;
  color: red;
}

.valid {
  color: var(--text_gray);
}

.form-checkbox:checked + .check-box:before {
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.about__form .about__form__input .js-validate-error-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.about__form__container {
  display: flex;
  flex-direction: row;
}


.about__form__input {
  position: relative;

  margin-bottom: 30px;
  margin-right: 30px;
}

.about__form__input .js-validate-error-label {
  color: red!important;
  position: absolute;
  top: 10px;
  left: 34px;
}

/*footer*/
.footer {
  position: relative;

  padding-top: 94px;
  padding-bottom: 0;
  background-color: var(--ligth_black);
}

.footer__left__list {
  display: flex;
  align-items: center;

  padding-top: 15px;
}

.footer__left__item {
  margin-right: 23px;
}

.footer__rigth__list {
  display: flex;
  flex-wrap: wrap;
  width: 555px;
}

.footer__rigth__item {
  margin-bottom: 17px;
}

.footer__list__block {
  width: 185px;
}

.footer__list__block:last-child {
  width: 65px;
}

.footer__list__block:nth-child(2) {
  margin-right: auto;
}

.footer__rigth__nav {
  display: flex;
  width: 445px;
  height: 100px;
}

.footer__mobile__block {
  display: none;
}

.footer__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 95px;
}

.footer__rigth__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 7px;
  padding-bottom: 18px;
}

.footer:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;

  width: 100%;
  min-height: 12px;
  height: 2vh;

  background-image: url("../img/footer/Vector.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
